* {
    primary: #dcc66e;
    primary-fixed: #f9e287;
    primary-fixed-dim: #dcc66e;
    on-primary: #3a3000;
    on-primary-fixed: #221b00;
    on-primary-fixed-variant: #534600;
    primary-container: #534600;
    on-primary-container: #f9e287;
    secondary: #d1c6a1;
    secondary-fixed: #eee2bc;
    secondary-fixed-dim: #d1c6a1;
    on-secondary: #373016;
    on-secondary-fixed: #211b04;
    on-secondary-fixed-variant: #4e472a;
    secondary-container: #4e472a;
    on-secondary-container: #eee2bc;
    tertiary: #a9d0b3;
    tertiary-fixed: #c5ecce;
    tertiary-fixed-dim: #a9d0b3;
    on-tertiary: #153722;
    on-tertiary-fixed: #00210f;
    on-tertiary-fixed-variant: #2c4e38;
    tertiary-container: #2c4e38;
    on-tertiary-container: #c5ecce;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #15130b;
    on-surface: #e9e2d4;
    on-surface-variant: #cdc6b4;
    outline: #969080;
    outline-variant: #4b4739;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e9e2d4;
    inverse-on-surface: #333027;
    inverse-primary: #6e5e0e;
    surface-dim: #15130b;
    surface-bright: #3c3930;
    surface-container-lowest: #100e07;
    surface-container-low: #1e1b13;
    surface-container: #221f17;
    surface-container-high: #2d2a21;
    surface-container-highest: #38352b;
}
